<div id="<%= dom_id part %>">
  <p>
    <strong>Part number:</strong>
    <%= part.part_number %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= part.supplier.name %>
  </p>

  <div>
    <p><strong>Assemblies:</strong></p>
    <% part.assemblies.each do |assembly| %>
      <p>
        <strong>Assembly name:</strong>
        <%= assembly.name %>
      </p>
    <% end %>
  </div>
</div>
