<div id="<%= dom_id assembly %>">
  <div>
    <p>
      <strong>Name:</strong>
      <%= assembly.name %>
    </p>
  </div>

  <div>
    <p><strong>Parts:</strong></p>
      <ul>
        <% assembly.parts.each do |part| %>
          <li>
            <%= part.name %>
          </li>
        <% end %>
      </ul>
  </div>

  <div>
    <p><strong>Books:</strong></p>
      <ul>
        <% assembly.books.each do |book| %>
          <li>
            <%= book.title %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
