<section class="py-6 mt-28">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="md:col-span-1 bg-white p-4">
        <h1 class="text-4xl pb-2">I Am La Cultura </h1>
        <p class="pb-2">Join us in celebrating Latine and Hispanic authors, creators, and trailblazers whose stories are shaping today’s culture.</p>
        <%= link_to 'View the picks', '#', class: 'inline-block bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600' %>
      </div>
      <div class="md:col-span-2">
        <%= link_to '#' do %>
          <%= image_tag('001.jpg', alt: 'Books by Latine and Hispanic Authors', class: 'w-full h-auto') %>
        <% end %>
      </div>
    </div>
  </div>
</section>