<div class="container">
  <h1>Welcome to Book Publisher</h1>
  <p>
    Book Publisher is an application that allows you to perform CRUD operations. With this application, you can register Authors, create Accounts, add Assemblies, Parts, Books, and Suppliers. Additionally, you can associate Accounts with Authors, Assemblies with Parts and Books, and Suppliers with Parts.
  </p>
</div>