<section class="py-4 mt-12 mx-auto max-w-screen-xl">
  <div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 m-8">
      <div class="md:col-span-1 bg-white p-16">
        <h1 class="text-3xl pb-2">In sit amet lorem a ullamcorper.</h1>
        <p class="text-sm pb-2">Maecenas ut tincidunt risus. Phasellus congue mattis erat sed consequat. Etiam molestie pellentesque mi, eget sollicitudin lacus vehicula quis. Maecenas tristique sollicitudin turpis malesuada tincidunt.</p>
        <%= link_to 'Duis vitae luctus', '#', class: 'inline-block bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600 mt-16' %>
      </div>
      <div class="md:col-span-2">
        <%= link_to '#' do %>
          <%= image_tag('001.jpg', alt: '') %>
        <% end %>
      </div>
    </div>
  </div>
</section>
